/************************************************************************
 * Global styles */

.txt-center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.is-hidden {
    display: none;
}

.monospaced {
    font-family: monospace;
}

.w40p {
    width: 40px;
}

.row {
    display: table;
    width: 100%;
}

.row > * {
    display: table-cell;
}

/************************************************************************
 * Margins and paddings */

.pas {
    padding: 5px;
}

.pts {
    padding-top: 5px;
}

.ptm {
    padding-top: 10px;
}

.pbs {
    padding-bottom: 5px;
}

.pbm {
    padding-bottom: 10px;
}

.prm {
    padding-right: 10px;
}

.pll {
    padding-left: 40px;
}

.mlm {
    margin-left: 10px;
}

.man {
    margin: 0;
}

.mtn {
    margin-top: 0;
}

.mbn {
    margin-bottom: 0;
}

.mrn {
    margin-right: 0;
}