/************************************************************************
 * Global styles */

.txt-center {
    text-align: center;
}

.w100 {
    width: 100%;
}

.is-hidden {
    display: none;
}

.monospaced {
    font-family: monospace;
}

.w40p {
    width: 40px;
}

.row {
    display: table;
    width: 100%;
}

.row > * {
    display: table-cell;
}

/************************************************************************
 * Margins and paddings */

.pas {
    padding: 5px;
}

.pts {
    padding-top: 5px;
}

.pbs {
    padding-bottom: 5px;
}

.pll {
    padding-left: 40px;
}

.man {
    margin: 0;
}